img{
    border-radius:50%;
}

.Profile{
    height: 15em;
    width: 15em; 
    object-fit: cover;
    object-position: 0 70%;
}

.center{
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*top: 50%;
    left: 50%;
    position: absolute;
    transform:translate(-50%, -50%);*/
}
div{
    background-color: #262626;
    width:100%;
    border:5px solid;
    padding:10px;
    margin:auto;
}

p{
    font-size: 2em;
}

p,h1,li{
    color: whitesmoke;
    text-align: center;
}
/*You should also utilize the following CSS Properties:

- `display`
- `padding`
- `margin`
- `width`
- `height`
*/